/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.nbproject
/nbproject
/public/uploads
/config/database.php
Homestead.json
Homestead.yaml
composer.lock
.env
composer.lock
composer.json
