.menu-top1-1{
    background: #92B713;
}
#mainNav{

    background-color: rgba(0, 0, 0, 0.6);
}
.navbar-brand{
    height: auto;
}
.logo-menu-container{
    position: relative;
}

.how-to-play-summery{
    color: #fff;
}


.nav-main-menu li a{
    padding-bottom: 10px;
}


/*Remove this from mobile*/


/**********Tables having green header********/
.main-taible-head{
    background-color: #92b713;
    color: white;
    border-radius: 8px 0 0 0 ;
}
.main-taible-head th{
    text-align: center;


}
.border-r a{
    color: black;
}
.main-taible-body{
    text-align: center;
}
.table-striped{
    background-color: #ffffff;
}
.th1{
    border-radius: 8px 0 0 0 ;
}
.th2{
    border-radius: 0 8px 0 0 ;
}
.brr1{
    border-radius:  0 0 0 8px;
}
.brr{
    border-radius:  0 0 8px 0 ;
}

.border-r{
    border-right: 2px solid #e4e4e2;
}
#bgcol
{
    background-color: #2e312e;
    margin-top: 50px;

}
.main-t{

    min-height: 500px;
    background-color: #2e312e;
    padding-bottom: 50px;

}
.ah3{
    color: #94b810;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    margin-bottom: 20px;

}
.trr{
    background-color: white;
}
.trr1{
    background-color: #f8f8f7;
}
.gen-table tr td, .gen-table tr td a{
    color: #000;
}


/********Footer********/
section.footer{
    padding: 20px 0;
}
.navbar{
    position: relative;
    margin-bottom: 0;
}

.page-heading{
    text-align: left;
    margin-top: 0;
}

hr.light.full{
    width: 100%;
}
/*************/
.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    font-size: 50px;
    color: #92B713;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
}


.mtb10{
    margin: 10px 0;
}
.mt10{
    margin-top: 10px;
}

.mt30{
    margin-top: 30px;
}

.nav-main-menu a{
    color: #fff !important;
}


.how-to-play-summery a{
    text-decoration: none;
    color: #fff;
}
.how-to-play-summery a .fa{
    color: #fff;
}
.how-to-play-summery a p{
    margin-top: 20px;
    color: #fff;
}
.how-to-play-summery a:hover{
    color: #92B713 !important
}

.btn-green{
    background: #92B713;
    color: #fff;
}


.page-heading{
    color: #F8930E;
    text-align: center;
}

.how-play{
    line-height: 36px;
}

.main-top-menu{
    position: relative;
    z-index: 1;
}

.btn-fb-login{
    background: #425aa4;
    color: #fff;
}

.mt26{
    margin-top: 26px;
}

.form-container{
    max-width: 800px;
    margin: 0 auto;
}

.footer .navbar-nav a{
    color: #fff;
}
.footer .navbar-nav a:hover{
    background-color: transparent !important;
    text-decoration: underline;
}

.main-taible-body .border-r img{

    width: 200px;
    width: 70px;

}
.error {
    width:200px;
    height:20px;
    height:auto;
    position:fixed;
    left:0%;
    margin-left:40%;
    bottom:5%;
    background-color: #ff0000;
    color: #F0F0F0;
    z-index: 1000;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);


}

.btn-orange{
    background: #F9960E;
    color: #fff;
}



.error {
    width:200px;
    height:20px;
    height:auto;
    position:fixed;
    left:0%;
    margin-left:40%;
    bottom:5%;
    background-color: #ff0000;
    color: #F0F0F0;
    z-index: 1000;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.mlr10{
    margin: 0 10px;
}

.table-has-player .player_pic{
    width: 80px;
}

/**Media queries**/
.slicknav_btn{
    width: 100%;
}


@media (min-width: 777px) {
    .nav-main-menu{
        position: absolute;
        bottom: 0;
        right: 0;
    }   
    .jquerySlickNavContainer{
        display: none
    }
}
@media (max-width: 777px) {

}
/*************Accordian header*************/
.accordian-table-header{
    background-color: #92B713;

}
.accordian-table-header ul li{
    float: left;
    padding: 20px 12px 20px;
    font-size: 16pt;
    font-weight: 100;
    list-style: none;
    color: #fff;

}
.mrgg{
    margin-top: 20px;

}
.tablety{
    background-color: #EEEEEE;
    height: 300px;
    margin-top: -10px;

}
#matr{
    margin-top: -9px;
}
.tabletyg{
    height: 10px;
    margin-top: -9px;
    margin-bottom: 50px;
    background-color: #4A5E07;
}
.ftp{
    font-weight: bold;
    text-decoration: none;
}
.mrgg1{
    margin-top: 2px;
    background-color: #D2E1A0;
    margin-left: 20px;
    margin-bottom: 1px;
}
.mrgg11{
    margin-top: 20px;
    background-color: #D2E1A0;
    margin-left: 20px;
    margin-bottom: 1px;
}
.ftp1{
    padding: 10px 0 10px 0;
}
.ftp11{
    padding: 15px 0 15px 0;
}
.img-rounded{
    margin-top: 50px;
}
#tblmarconten{
    margin-top: 50px;
}
/*............................Show Hide Table Starts...........................*/
#clickable1{
    background-color: #92B713;
    height: 50px;
    color: #fff;


}
#tht{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16pt;
    font-weight: 100;
}

.thti{
    text-align: right;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20pt;

}
#gg1{
    font-size: 15pt;

}
#cols{
    font-weight: bold;
}
#cols1{
    font-weight: bold;
    color: #fff;
}
#lefttable{
    padding-left: 100px;
}
#bgren{
    background-color: #D2E1A0;

}

/*............................Show Hide Table End...........................*/