.menu-top1-1 {
    background: #3b4034;
}
.home-top-menu{
padding-left: 15px;


}
.home-news-headings{
    text-transform: capitalize;
    font-size: 13px;
    color:orange;

}
.home-news-headings a:hover{
    text-transform: capitalize;
    font-size: 13px;
    text-decoration: underline;
    color:orange;

}

.home-top-menu>span>a{
    color: #FFFFFF;
}
.nav-main-menu-top a{
   padding-right: 0 !important;
}
.nav-main-menu-top li{
    padding-left: 8px;
}
#mainNav{

    background-color: rgba(0, 0, 0, 0.6);
}
.navbar-brand{
    height: auto;
}
.logo-menu-container{
    position: relative;
}

.how-to-play-summery{
    color: #fff;
}

.signinforminputs{
    background: transparent;
    color:#c2c2c2;
}
.signinforminputs1{
    border-left:none; height:40px;
}
.nav-main-menu li a{
    padding-bottom: 10px;
}
.slicknav_nav .fa{
    display: none;
}

/*Remove this from mobile*/
/*////////////////////////////Blog CSS/////////////////////////////////////////*/


.publicaciones-blog-home {
    padding-bottom: 50px;
    background: url("") no-repeat fixed center center;
    background-size: 100% auto;
    background-color: #ffffff;
}
.publicaciones-blog-home h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 44px;
    margin-top: 70px;
}
.publicaciones-blog-home h2 b {
    color: #94b810;
}
.publicaciones-blog-home .fondo-publicacion-home {
    background: #ffffff;
    border: 1px solid #aaa;
    border-radius: 8px;
    overflow: hidden;
    height: 320px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}

.publicaciones-blog-home .black {
    background:rgba(146, 183, 19, 0.8);
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home img {
    height: 100%;
    width: auto;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 10px;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home h3 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-home {
    padding: 0 10px;

}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-home h3 {
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-home  {
    overflow: hidden;
    max-height: 180px;
}
.mascara-enlace-blog-home {
    height: 400px;
    width: 0%;
    color: #aaa;
    background-color:rgba(146, 183, 19, 0.8);
    position: absolute;
    top: 0;
    opacity: 0.0;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    text-align: center;
    padding-top: 180px;
}
.mascara-enlace-blog-home span {
    text-align: center;
    max-height: 400px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}
.publicaciones-blog-home .todas-las-publicaciones-home {
    background:rgba(146, 183, 19, 0.8);
    height: 400px;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
}
.publicaciones-blog-home .todas-las-publicaciones-home span {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 26px;
}
@media (max-width: 768px) {
    .publicaciones-blog-home h2 {
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
        font-size: 34px;
        margin-top: 70px;
    }
    .publicaciones-blog-home .fondo-publicacion-home {
        background: #ffffff;
        border-radius: 3px;
        overflow: hidden;
        height: inherit;
        margin-bottom: 20px;
        display: block;
        color: inherit;
        text-decoration: none;
        position: relative;
    }
    .publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        height: auto;
    }
    .publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home img {
        height: auto;
        width: 100%;
    }
    .publicaciones-blog-home .black {
        background: #fff;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0 10px;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home h3 {
        font-weight: 900;
        color: #333;
        text-transform: uppercase;
        font-size: 20px;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home p {
        color: #333;
        font-size: 10px;
        font-weight: 400;
    }
    .publicaciones-blog-home .todas-las-publicaciones-home {
        background:rgba(146, 183, 19, 0.8);
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 20px;
        text-decoration: none;
        border-radius: 3px;
    }
}
.bloghead{
    color:rgb(146, 183, 19);
    font-size: 16px;
    text-transform: capitalize !important;

}
.blogtext{
    color: rgb(187, 184, 191);
    font-size: 13px;
}









/**********Tables having green header********/
.main-taible-head{
    background-color: #92b713;
    color: white;
    border-radius: 8px 0 0 0 ;
}
.main-taible-head th{
    text-align: center;


}
.border-r a{
    color: black;
}
.main-taible-body{
    text-align: center;
}
.table-striped{
    background-color: #ffffff;
}
.table-stripedhome{
    background-color: rgb(102, 102, 102);
}
.th1{
    border-radius: 8px 0 0 0 ;
}
.th2{
    border-radius: 0 8px 0 0 ;
}
.brr1{
    border-radius:  0 0 0 8px;
}
.brr{
    border-radius:  0 0 8px 0 ;
}

.border-r{
    border-right: 2px solid #e4e4e2;
}
#bgcol
{
    background-color: #2e312e;
    margin-top: 50px;

}
.main-t{

    min-height: 500px;
    background-color: #2e312e;
    padding-bottom: 50px;

}
.ah3{
    color: #94b810;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    margin-bottom: 20px;

}
.trr{
    background-color: white;
}
.trr1{
    background-color: #f8f8f7;
}

.gen-table tr td, .gen-table tr td a{
    color: #000;
}


/********Footer********/
footer{
    background-color: #666666;
}
section.footer{
    padding: 20px 0;
    color: #fff;
}
.navbar{
    position: relative;
    margin-bottom: 0;
}

.page-heading{
    text-align: left;
    margin-top: 0;
}

hr.light.full{
    width: 100%;
}
/*************/
.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
   font-size: 20px;
    color: #92B713;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
}


.mtb10{
    margin: 15px 0;

}
.mt10{
    margin-top: 10px;
}

.mt30{
    margin-top: 30px;
}

.nav-main-menu a{
    color: #fff !important;
}


.how-to-play-summery a{
    text-decoration: none;
    color: #fff;
}
.how-to-play-summery a .fa{
    color: #fff;
}
.how-to-play-summery a p{
    margin-top: 20px;
    color: #fff;
}
.how-to-play-summery a:hover{
    color: #92B713 !important
}

.btn-green{
    background: #92B713;
    color: #fff;
}
.btn-register{
    background: #92B713;
    color: #fff;

}


.page-heading{
    color: #F8930E;
    text-align: center;
}

.how-play{
    line-height: 36px;

}

.main-top-menu{
    position: relative;
    z-index: 1;
}

.btn-fb-login{
    background: #425aa4;
    color: #fff;
}

.mt26{
    margin-top: 26px;
}

.form-container{
    max-width: 800px;
    margin: 0 auto;
}

.footer .navbar-nav a{
    color: #fff;
}
.footer .navbar-nav a:hover{
    background-color: transparent !important;
    text-decoration: underline;
}

.main-taible-body .border-r img{

    width: 200px;
    width: 70px;

}
.error {
    width:200px;
    height:20px;
    height:auto;
    position:fixed;
    left:0%;
    margin-left:40%;
    bottom:5%;
    background-color: #ff0000;
    color: #F0F0F0;
    z-index: 1000;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);


}

.btn-orange{
    background: #F9960E;
    color: #fff;
}



.error {
    width:200px;
    height:20px;
    height:auto;
    position:fixed;
    left:0%;
    margin-left:40%;
    bottom:5%;
    background-color: #ff0000;
    color: #F0F0F0;
    z-index: 1000;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.mlr10{
    margin: 0 10px;
}

.table-has-player .player_pic{
    width: 80px;
}

/**Media queries**/
.slicknav_btn{
    width: 100%;
}


@media (min-width: 777px) {
    .nav-main-menu{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .jquerySlickNavContainer{
        display: none
    }
}
@media (max-width: 777px) {

}
/*************Accordian header*************/
.accordian-table-header{
    background-color: #92B713;

}
.accordian-table-header ul li{
    float: left;
    padding: 20px 12px 20px;
    font-size: 16pt;
    font-weight: 100;
    list-style: none;
    color: #fff;

}
.mrgg{
    margin-top: 20px;

}
.tablety{
    background-color: #EEEEEE;
    height: 300px;
    margin-top: -10px;

}
#matr{
    margin-top: -9px;
}
.tabletyg{
    height: 10px;
    margin-top: -9px;
    margin-bottom: 50px;
    background-color: #4A5E07;
}
.ftp{
    font-weight: bold;
    text-decoration: none;
}
.mrgg1{
    margin-top: 2px;
    background-color: #D2E1A0;
    margin-left: 20px;
    margin-bottom: 1px;
}
.mrgg11{
    margin-top: 20px;
    background-color: #D2E1A0;
    margin-left: 20px;
    margin-bottom: 1px;
}
.ftp1{
    padding: 10px 0 10px 0;
}
.ftp11{
    padding: 15px 0 15px 0;
}
.img-rounded{
    margin-top: 50px;
}
#tblmarconten{
    margin-top: 50px;
}
/*............................Show Hide Table Starts...........................*/
#clickable1{
    background-color: #92B713;
    height: 50px;
    color: #fff;


}
#tht{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16pt;
    font-weight: 100;
}

.thti{
    text-align: right;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20pt;

}
#gg1{
    font-size: 15pt;

}
#cols{
    font-weight: bold;
}
#cols1{
    font-weight: bold;
    color: #fff;
}
#lefttable{
    padding-left: 100px;
}
#bgren{
    background-color: #D2E1A0;

}

/*............................Show Hide Table End...........................*/
.circle2 {
width: 100%;
    height: auto;
    border-radius: 25px;
    font-size: 40px;
    color: #92B713;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom:3px;


}
.possion{
    font-size: 50px;
    color: #92B713;
    text-align: center;


}
.bg-primary1 {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
/*///////////////////////////////Blog inner css/////////////////////////////////////////*/
.textgreen{
    color: #92B713;
}
.bloghr{
    margin: 0 0 0 0;
    border: 1px solid #EFEFEF;
}
.bloginnertext{
    color: #9B9D9C;
    font-size: 13px;
    margin: 0;
    padding: 10px 0 5px 20px;


}
.sharebtnblog1{
    border-radius:  2px 0 0 2px ;
    background-color: #4369ca;
    color: #ffffff;
}
.sharebtnblog{
    border-radius: 0 2px 2px 0;
    background-color: #4369ca;
    color: #ffffff;
    font-weight: 100;
}
.sharebtnblogico{
    height: 10px;
    padding: 10px 0 10px 0;
}
.blogcontent{
    color: rgb(187, 184, 191);
    font-size: 12px;
    font-weight: 100;

}
.circle1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 50px;
    color: #92B713;
    text-align: center;
    background: #92B713;
    padding: 10px 25px 10px 25px;
}
.bloglinkcolor{
    color: rgb(154, 151, 158);
}
.cooment{
    border-color: rgb(187, 184, 191);
}
.chattextico{
    padding-right: 10px;
}
.bordercolor{
    border-color: rgb(187, 184, 191);
    border: 1px solid rgb(187, 184, 191);

}
.form-control1{
    width: 175px;
    margin-bottom: 20px;
}
.paddingtextarea{
    padding: 20px 0 20px 0;
}
.btn1{
    border-radius: 0;
    color: #ffffff;
    background-color: #92B713;
    font-weight: 500;
}
.ceckbox{
    margin-top: 60px;
    height: auto;
}
.blogheading ul li{

}
.as>a{
    padding: 10px 0 10px 0;
}
.blogheading2{
    padding-top: 30px;
}
.absolute{
    position: absolute;

}
.relative{
    position: relative;

}
.no-mrg-in-home{
    margin: 0 0 0 0 !important;

    font-size: 12px !important;
    max-width: 100% !important;
}
.no-mrg-in-home1{
    margin: 0 0 0 0 !important;

    font-size: 12px !important;
    max-width: 100% !important;
    padding-bottom: 10px;
}








.ttt{
    min-width: 300px;
}


.jfont{
    font-size: 14px;
    text-align: justify;
}
@media screen and (min-width: 1000px) and (max-width: 2500px) {
    #signhide { display: none; }
}
@media screen and (min-width: 200px) and (min-width: 500px) {
    #signshow { display: none;}
}
/*@media screen and (min-width: 0px) and (max-width: 400px) {*/
    /*#signshow{ display: none; }  !* show it on small screens *!*/
/*}*/

/*@media screen and (min-width: 401px) and (max-width: 1024px) {*/
    /*#signshow { display: block; }   !* hide it elsewhere *!*/
/*}*/






















/*..................................News Start..................................*/

.gallery-title
{

    color: #94b810;
    text-align: center;

    margin-bottom: 70px;
}






.port-image
{
    width: 100%;
}

.gallery_product
{
    margin: 0 30px 30px 50px;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 200px !important;



}
.imgn{
    width: 200px;
    height: 200px;
    margin-left: -30px

}
.lnews{
    background-color: #e6e6e6;
}
#nbton{

    background-color: transparent;
    color: #94b810;
    border: solid 1px  #94b810 ;
    border-radius: 0 0 0 0;
    min-width: 250px;

    margin-bottom: 50px;
}
.nt{
    padding-top: 25px;
    margin-left: -20px;
}
.nt1{

    color: #968B8B;

    font-size: 14pt;
    margin-left: -20px;
}
.nt2{
    font-size: 16px;
    font-weight: bolder;
    margin-left: -15px;
}
.nt3{
    color: #cccccc;
    font-size: 12px;
    margin-left: -15px;
}
.newsbackground{
    background-color: #fafafa;
}
.newscolor{
    background-color: #ffffff;
}
.mediah{
    font-weight: bolder;
}

/*...................................News End........................................*/
